.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 0;
  background-color: #dedede;
  width: 100%;
}

.footer__title {
  font-size: 1.1rem;
  font-weight: 500;
  color: #4d4d4d;
}

.footer__list {
  display: flex;
  margin-top: 0.7rem;
  gap: 1.5rem;
  list-style: none;
}

.footer__link:hover {
  text-decoration: none;
  color: var(--orange);
}

.footer__link {
  color: #4d4d4d;
  font-weight: 600;
  text-decoration: underline;
}
