:root {
  --blue: #255b98;
  --red: #db2c00;
  --green: #1a7f78;
  --purple: #7b2d6d;
  --black: #262626;
  --orange: #e12911;
  --red-section: #dd0e42;
  --green-400: #1a7f78;
  --blue-400: #255b98;
}
